<h1>Hospital Show Page<h1>
<h3> All Doctor's For: <%= @hospital.name %><h3>
<ol>
  <% @hospital.doctors_orderby_patient_count.each do |doctor| %>
  <li> <%= "#{doctor.name}: #{doctor.patient_count} patients"  %> </li>
  <% end %>
</ol>